*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 8%;
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.btn_{
    background-color: #d9534f;
    padding: 8px 15px;
    border-radius: 5px;
    margin: auto;

    border: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn_:hover{
    background-color: #888;
}
.App{
    margin-top: 1vh;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: aqua;
   
}
.Footer{
    text-align: center;
    padding: 1vh;
}
.twitter, .github{
  width: 30px;
  height: 30px;
  margin-left: 2px;
}
.note{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.footer-inner{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media print
      {
         @page {
           margin-top: 0;
           margin-bottom: 0;
         }
         body  {
           padding-top: 72px;
           padding-bottom: 72px ;
         }
      } 